/*

    font-family: 'Albert Sans';

*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* @import '~@flaticon/flaticon-uicons/css/all/all'; */

html,
body {
  overflow-x: hidden;
}

.grd-v1 {
  background-image: linear-gradient(
    135deg,
    hsl(41deg 52% 52%) 0%,
    hsl(40deg 48% 50%) 16%,
    hsl(40deg 48% 48%) 22%,
    hsl(40deg 48% 46%) 27%,
    hsl(39deg 49% 44%) 32%,
    hsl(39deg 49% 42%) 36%,
    hsl(39deg 49% 40%) 40%,
    hsl(38deg 50% 38%) 44%,
    hsl(38deg 50% 36%) 48%,
    hsl(38deg 51% 34%) 52%,
    hsl(37deg 51% 32%) 56%,
    hsl(37deg 52% 30%) 61%,
    hsl(36deg 52% 28%) 65%,
    hsl(35deg 53% 26%) 70%,
    hsl(35deg 54% 24%) 76%,
    hsl(34deg 55% 22%) 82%,
    hsl(33deg 56% 20%) 90%,
    hsl(32deg 57% 18%) 100%
  );
}

// v2 gradient
.grd-v2 {
  background: #c59c46;
  background: -webkit-linear-gradient(
    135deg,
    rgba(197, 156, 70, 1) 0%,
    rgba(74, 49, 20, 1) 100%
  );
  background: -moz-linear-gradient(
    135deg,
    rgba(197, 156, 70, 1) 0%,
    rgba(74, 49, 20, 1) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(197, 156, 70, 1) 0%,
    rgba(74, 49, 20, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#C59C46", endColorstr="#4A3114", GradientType=0);
}

/*
Use this for: buttons, icons, headings, accents.
--color-1:#C59C46 

Usage: Simple highlights, borders.
--color-1:#B7A15B

Usage: Secondary typography.
--color-1:#B5A06B

Usage: Light accents, icons.
--color-1:#D1BC70

Usage: Background tints, subtle fills.
--color-1:#E9D990

Usage: Body text, strong headings
--color-1:#000000

To keep the website premium and minimal.
--white-minimal: #F8F5EF
--warm-gray-minimal: #D9D2C6
--deep-brown-minimal: #3B2A19

*/

:root,
[data-bs-theme='light'] {
  /* --primary-color: #252525;
  --secondary-color: #52614e;
  --light: #fff;
  --dark: #161616;
  --title-color: #ffff;
  --sub-title: #d5e5d1;
  --body-color: #ffff;
  --brand-color: #52614e;
  --btn-color: #6e7c6b;
  --heading-font: 'Playfair Display';
  --body-color: #161616;
  --body2-color: #1e1e1e;
  accent-color: var(--green);
  --light-color: #f3f8f1; */

  --primary-color: #c59c46;
  --secondary-color: #b7a15b;
  --light: #fff;
  --dark: #161616;
  --title-color: #c59c46;
  --sub-title: #b5a06b;
  --body-color: #ffff;
  --brand-color: #c59c46;
  --btn-color: #c59c46;
  --heading-font: 'Playfair Display';
  --body-color: #161616;
  --body2-color: #1e1e1e;
  /* accent-color: var(--green); */

  --light-color: #e9d990;

  --white-minimal: #f8f5ef;
  --warm-gray-minimal: #d9d2c6;
  --deep-brown-minimal: #3b2a19;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  font-family: 'Open Sans';
  background: #161616;
}

p {
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  font-family: 'Playfair Display';
  font-style: normal;
  margin-bottom: 0;
  margin-top: 10px;
  line-height: 1.2;
  font-weight: 700;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 44px;
}

a {
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

a {
  color: #002570;
  text-decoration: none;
}

a:focus,
.btn:focus {
  text-decoration: none;
  outline: none;
}

a:focus,
a:hover {
  text-decoration: none;
  text-decoration: none;
  color: #002570;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #002570;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 18px;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}

.white h1,
.white h2,
.white h3,
.white h4,
.white h5,
.white h6 {
  color: #fff;
}

.white p {
  color: #fff;
}

.white i {
  color: #fff;
}

.small,
small {
  font-size: 17px;
}

ul {
  margin: 0px;
  padding: 0px;
}

ul li {
  list-style: none;
}
img {
  transition: 0.5s;
}
input:focus,
button:focus {
  outline-color: var(--secondary-color);
  border: 1px solid var(--secondary-color) !important;
}

textarea:focus {
  border: 1px solid var(--secondary-color) !important;
  outline-color: var(--secondary-color);
}

select:focus {
  border-color: var(--secondary-color);
  outline-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}

hr {
  margin: 60px 0;
  padding: 0px;
  border-bottom: 1px solid #eceff8;
  border-top: 0px;
}

hr.style-2 {
  border-bottom: 1px dashed #002570;
}

hr.mp-0 {
  margin: 0;
  border-bottom: 1px solid #eceff8;
}

hr.mtb-40 {
  margin: 40px 0;
  border-bottom: 1px solid #eceff8;
  border-top: 0px;
}

label {
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}

a,
i,
cite,
em,
var,
address,
dfn,
ol,
li,
ul {
  font-style: normal;
  font-weight: 400;
}

*::-moz-selection {
  background: #4fc1f0;
  color: #454545;
  text-shadow: none;
}

::-moz-selection {
  background: #4fc1f0;
  color: #454545;
  text-shadow: none;
}

::selection {
  background: #4fc1f0;
  color: #454545;
  text-shadow: none;
}

::placeholder {
  color: #002570;
  font-size: 15px;
}

::-webkit-input-placeholder {
  color: #002570;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #454545;
}

:-ms-input-placeholder {
  /* IE 10+ */

  color: #454545;
}

:-moz-placeholder {
  /* Firefox 18- */

  color: #454545;
}

/* Contact Area */
.counter_area ::-moz-selection {
  color: #001d23;
  text-shadow: none;
}

.contact_area ::-moz-selection {
  color: #001d23;
  text-shadow: none;
}

.contact_area ::selection {
  color: #001d23;
  text-shadow: none;
}

.contact_area ::placeholder {
  color: #001d23;
  font-size: 16px;
}

.contact_area ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #001d23;
}

.contact_area ::-moz-placeholder {
  /* Firefox 19+ */
  color: #001d23;
}

.contact_area :-ms-input-placeholder {
  /* IE 10+ */
  color: #001d23;
}

.contact_area :-moz-placeholder {
  /* Firefox 18- */
  color: #001d23;
}

.blog_reply ::-moz-selection {
  color: #151948;
}

.blog_reply ::-moz-selection {
  color: #151948;
}

.blog_reply ::selection {
  color: #151948;
}

.blog_reply::placeholder {
  color: #151948;
}

.blog_reply ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #151948;
}

.blog_reply ::-moz-placeholder {
  /* Firefox 19+ */
  color: #151948;
}

.blog_reply :-ms-input-placeholder {
  /* IE 10+ */
  color: #151948;
}

.blog_reply :-moz-placeholder {
  /* Firefox 18- */
  color: #151948;
}

.border-tops {
  border-top: 1px solid rgba(255, 255, 255, 0.10196078431372549);
  margin-top: 29px;
}

.text-right {
  text-align: right !important;
}

.pr-0 {
  padding-right: 0px;
}

.pl-0 {
  padding-left: 0px;
}
/* margin-top */
.pt-26 {
  margin-top: 26px;
}
.pt-30 {
  margin-top: 30px;
}
.pt-50 {
  margin-top: 50px;
}
.pt-55 {
  margin-top: 55px;
}
/* padding-bottom */
.pb-55 {
  margin-bottom: 55px;
}
.pb-42 {
  margin-bottom: 42px;
}
.pb-64 {
  margin-bottom: 64px;
}
.pb-30 {
  margin-bottom: 30px;
}
.pb-102 {
  margin-bottom: 102px;
}
.pb-120 {
  margin-bottom: 102px;
}

/* padding left */
.pl-45 {
  padding-left: 45px;
}
.pl-75 {
  padding-left: 75px;
}
